{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    MainPage
{% endblock %}

{% block page_content %}
    <h2 style="text-align: center;">Welcome to the Smart Home Energy Management System!</h2>
    <br>
        <h4 style="text-align: center;", >
            We provide services for service location and devices management. <br>
            <br>
            Meanwhile, we provide multiple analysis of your energy usage, and some fun tips!
        </h4>
{% endblock %}
