{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Energy consumption analysis
{% endblock %}

{% block page_content %}
    <h1>Energy use percentage per device type</h1>
    
    <h3>Select Criteria for Energy use percentage Analysis</h3>
        {{ wtf.quick_form(form) }}
        {% if image_base64 %}
            <h2>Analysis Chart</h2>
            <img src="data:image/png;base64,{{ image_base64 }}" alt="Analysis Chart">
        {% endif %}
{% endblock %}